redirects on
source https://nuget.org/api/v2

nuget FSharp.Compiler.Service
nuget NUnit
nuget NUnit.Runners
nuget NuGet.CommandLine
nuget Unquote
nuget FSharp.Core
nuget Yaaf.AdvancedBuilding == 0.14.1
